.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.flex-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-width: 1400px;
    justify-content: center;
}

.pb-5 {
    width: 800px;
    height: 800px;
}