.register {
    width: 100%;
    height: 100vh;
    background-image: url('../../images/register.jpg');
    background-position: center;
    background-size:cover;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.container {
    padding: 40px;
    display: flex;
    flex-direction: column;
}


.registerPage {
    width: 700px;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 400px;
}

.registerbox {
    color: white;
    width: 360px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    margin-top: 2%;
}

.register h1 {
    text-align: center;
    padding-top: 15px;
    padding-left: 120px;
}

.register h4 {
    margin-top: 10px;
    text-align: center;
    padding-left: 120px;
}

.register form {
    /* width: 100%;*/
    height: 100vh;
    /* width: 300px;*/
    padding-top: 3px;
    padding-bottom: 10px;
    /*padding-left: 800px;*/
    margin-left: 20px;
    /*  justify-content: center;*/
}

.register form label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
    width: 200px;
}

.register form input {
    width: 420px;
    height: 30px;
    padding-left: 30px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    color: black;
}

.register form input[type="password"] {
    width: 420px;
    height: 30px;
    padding-left: 2px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    color: black;
    background: #ecf0f3;
    padding: 30px;
    margin-top: 10px;
    font-size: 14px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

.register input[type="submit"] {
    width: 260px;
    height: 50px;
    margin-top: 30px;
    margin-left: 80px;
    text-align: center;
    padding-left: 0;
    border: none;
    background-color: 7AB730;
    color: white;
    font-size: 20px;
    border-radius: 2px solid 7AB730;
}

.register p {
    text-align: center;
    position: absolute;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 15px;

}

.register p>Link {
    text-align: center;
    padding-top: 20px;
    font-size: 18px;

}


.registerbox p {
    color: #050912;
}