.button {
        height: 15%;
        background-color: #7AB730;
        padding: 14px;
        margin-top: auto;
        margin-left: 20px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        height: 10%;
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
        border-radius: 4px;
    }
    
 .button:hover {
        background-color: #6f5d9c;
        color: white;
 }

