.login {
    width: 100%;
    height: 100vh;
    background-image: url(../images/background-2.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 50px;
  }
  
  .loginbox {
    color: white;
    width: 400px;
    height: 330px;
    margin: auto;
    background-color: #75e047;
    border: 2px solid #0b6904;
    border-radius: 20px;
    margin-top: 5%;
  }
  
  .loginbox h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    margin-top: 10px;
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  form input {
    width: 340px;
    height: 30px;
    padding-left: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    color: black;
  
  }
  
  input[type="submit"] {
    width: 340px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #3b3d42;
    color: white;
    font-size: 15px;
  }
  
  .loginbox p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  
  .loginbox p > a {
    color: #04060b;
  }