.card {
    
}

.btn-profiler{

 

}

.btn{
  
    cursor: pointer;
    outline: none;
    display: inline-block;
    border: 2px solid ;
    padding: 0.5em 0.90em;
    margin: 0;
    border-radius: 0.5em;
    /*buttons must be the same*/
    background-color: #7AB730; 
    color: white;
    margin-left: 1em;
    
  

}

.btn:hover {
    background-color: #6f5d9c;
    color: white;
}

.img-card{
    width: 285px;
    height: 160px;
}