.details {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details p:last-of-type {
    font-size: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.buttons {
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
}

.button {
    height: 15%;
    background-color: #7AB730;
    padding: 14px;
    margin-top: auto;
    border-radius: 6%;
    border-color: #7AB730;
    width: 200px;
    font-size: 21px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.button:hover {
    background-color: #6f5d9c;
    color: white;
}

.details img {
    width: 600px;
    height: 420px;
}